[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
mysql-connector-python = "*"
colorama = "*"
streamlit-authenticator = "*"
pyyaml = "*"
numpy = "*"
google-cloud = "*"
google-cloud-firestore = "*"
protobuf = "==3.20.*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.10"
